#r-body{
    padding-top: 4rem;
}

.r-login-logo{
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

.r-login-logo .r-logo-image{
    width: 120px;
    height: 120px;
}

[class^="r-login-with-"]{
    position: relative;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    background: #ea4335;
    color: #FFF;
    font-weight: bold;
    width: 270px;
    outline: none;
    cursor: pointer;
}

.r-login-with-google{
    background: #ea4335;
}

.r-login-with-facebook{
    background: #4267b2;
}

.r-form-login{
    padding-left: 35px;
    padding-right: 35px;
}

.r-btn-login {
    width: 200px;
    background: var(--resit-color-light-blue);
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 7px 10px;
    color: var(--resit-color-white);
    cursor: pointer;
    display: inline-block;
}

.r-login-navbar {
    
}