
  #resit-page-share{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 190px;
    z-index: 100;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
  }
  #resit-page-share .share-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #resit-page-share .share-list .share-item i{
    font-size: 1.7rem;
  }
  #resit-page-share .share-list .share-item{
    margin: 0;
    padding: 10px 8px;
    background: #FFF;
    text-align: center;
    display: block;
  }
  #resit-page-share .share-list .share-item:hover{
    background: rgb(255, 56, 56) !important;
    transition: .3s ease-in-out;
  }
  #resit-page-share .share-list .share-item.whatsapp i{
    color: #FFF;
  }
  #resit-page-share .share-list .share-item.whatsapp{
    transition: .3s ease-in-out;
    background: #00e676;
  }
  #resit-page-share .share-list .share-item.facebook i{
    color: #FFF;
  }
  #resit-page-share .share-list .share-item.facebook{
    transition: .3s ease-in-out;
    background: #3b5998;
  }
  #resit-page-share .share-list .share-item.twitter i{
    color: #FFF;
  }
  #resit-page-share .share-list .share-item.twitter{
    transition: .3s ease-in-out;
    background: #1da1f2;
  }
  #resit-page-share .share-list .share-item:first-child{
    border-top-right-radius: 13px;
  }
  #resit-page-share .share-list .share-item:last-child{
    border-bottom-right-radius: 13px;
  }